body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Montserrat, sans-serif, "Franklin Gothic Medium";
}

.flex-container {
  box-sizing: border-box;
}

.navbar-dark .nav-item .nav-link {
  color: #fff;
}

.navbar-links {
  /* font-size: 1rem; */
  color: black;
  font-weight: bold;
  white-space: nowrap;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
}
.nav-link {
  color: black;
}

.center-img {
  max-height: 390px;
}

.hover-img {
  filter: brightness(70%);
}

.to-front {
  position: absolute;
  top: 7px;
  left: 2rem;
  /* /* background-color: black; */
  color: white;
}
.overwrite {
  position: relative;
}

.hotspot {
  font-size: 1.5rem;
}

.bg-image {
  /* background-image: url("bundles\images\landing\bg-image.jpg"); */
  background-image: url("bundles/images/landing/bg-image.jpg");
  background-size: cover;
}

/* HOVER BEGINS */

.hovereffect {
  /* width: 100%;
  height: 100%;
  float: left; */
  /* overflow: hidden; */
  position: relative;
  /* text-align: center;
  cursor: default; */
}

.hovereffect .overlay {
  position: absolute;
  /* overflow: hidden; */
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  /* border-bottom: 1px solid #fff;
  border-top: 1px solid #fff; */
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  /* filter: url("bundles/images/landing/card-cover-2.jpg"); */
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  /* text-align: center; */
  position: relative;
  /* font-size: 17px; */
  background-color: transparent;
  color: #fff;
  /* padding: 1em 0; */
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.hovereffect .div,
.hovereffect p {
  /* color: #fff; */
  padding-top: 4em ;
  margin: auto;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.hovereffect:hover .div,
.hovereffect:hover p,
.hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* ENDS */

.card-icons{
  display: flex;
  justify-content: space-around;
}

.card-icons div{
  display: inline-block;
  background-color: white;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 50%;
}

.dept-head-6 {
  color: #252b42;
  font-size: 1rem;
}

.rating-btn {
  background-color: #252b42;
  border-radius: 90px;
  color: white;
  margin-right: 1rem;
}

.star {
  color: #ffce31;
}

.rating-btn:hover {
  background-color: #697dcb;
}

/* .icon-body{
width: fit-content;
height: fit-content;
margin-left: 0.5rem;
} */

.firstclass {
  align-self: self-end;
}

.icon-body img {
  padding: 3rem;
}

.icon-bg-1 {
  background-color: #c24244;
}
.icon-bg-2 {
  background-color: #a2c891;
}
.icon-bg-3 {
  background-color: #f0c88b;
}
.icon-bg-4 {
  background-color: #aea4c1;
}
.icon-bg-5 {
  background-color: #bac7ba;
}
.icon-bg-6 {
  background-color: #e0d597;
}

footer {
  background-color: #ebf5fa;
}

@media (max-width: 768px) {
  .center-img {
    max-height: 240px;
  }
  .icon-body img {
    padding: 1rem;
  }
  .hotspot {
    font-size: 1rem;
    padding: 2rem 0px;
  }
  .slider-text {
    font-size: 0.8rem;
  }
  .rating-btn {
    font-size: 0.5rem;
  }
  .dept-head-6 {
    font-size: 0.8rem;
  }
  .grid-2 {
    margin-right: -15px;
    margin-left: 5px;
  }
}
/* responsiveness */
@media (max-width: 908px) {
  .navbar-links {
    white-space: normal;
  }
}

@media (max-width: 1110px) {
  .navbar-links {
    white-space: normal;
    font-size: 10px;
  }
}
